body {
    background-color: #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}
h1 {
    font-size: 30px;
    color: red;
}

h2 {
    font-size: 15px;
    color: green;
}

